/*@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-bold_v2.eot");
  src: url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-bold_v2.eot?#iefix") format("embedded-opentype"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-bold_v2.woff2") format("woff2"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-bold_v2.woff") format("woff"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-bold_v2.svg#SamsungSharpSans-Bold") format("svg");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-medium_v2.eot");
  src: url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-medium_v2.eot?#iefix") format("embedded-opentype"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-medium_v2.woff2") format("woff2"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-medium_v2.woff") format("woff"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-medium_v2.svg#SamsungSharpSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-regular_v2.eot");
  src: url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-regular_v2.eot?#iefix") format("embedded-opentype"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-regular_v2.woff2") format("woff2"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-regular_v2.woff") format("woff"), url("//cdn.samsung.com/global/galaxy/common/font/samsungsharpsans-regular_v2.svg#SamsungSharpSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal
}


@font-face {
  font-family: 'FontAwesome';
  src: url("//cdn.samsung.com/global/galaxy/common/font/fontawesome-webfont.eot?v=4.6.3");
  src: url("//cdn.samsung.com/global/galaxy/common/font/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("//cdn.samsung.com/global/galaxy/common/font/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("//cdn.samsung.com/global/galaxy/common/font/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("//cdn.samsung.com/global/galaxy/common/font/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Samsung One';
  src: url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot");
  src: url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot?#iefix") format("embedded-opentype"), url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff2") format("woff2"), url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff") format("woff"), url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Samsung One';
  src: url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot");
  src: url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix") format("embedded-opentype"), url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff2") format("woff2"), url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff") format("woff"), url("//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
*/